{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/master.css' %}">
	<title>Crime Report System</title>
</head>
<body>
	<div class="header">
		<h4>Mandera Crime Reporting System</h4>
	</div>
	<div class="container">
		<nav>
			<ul class="float-right">
				<li><a href="#">Home</a> </li>
				<li><a href="#">Issues</a> </li>
				<li><a href="#">Logs</a> </li>
				<li><a href="#">About</a> </li>
			</ul>

			<!-- Authentication -->
			<ul class="float-left">
				<li><a href="#">Profile</a> </li>
				<li><a href="#">Login</a> </li>
				<li><a href="#">Register</a> </li>
			</ul>
		</nav>
	</div>
	<!-- {% block content %}{% endblock content%} -->
</body>
</html>
