{% extends 'crime/base.html' %}

{% block content %}
  {% for log in logs %}
  <article class="media content-section">
    <div class="top-log">
      <h3>{{log.case}}</h3>
      <small class="text-muted">{{log.date_posted | date:"F d, Y"}}</small>
    </div>
    <p class="article-content">{{log.details}}</p>
    <img class="rounded-circle article-img" src="{{ log.author.profile.image.url}}" alt="avatar">
    <div class="media-body">
      <div class="article-metadata">
        <p><a class="mr-2" href="#">{{log.author}}</a></p>
        <p>{{log.location}}</p>
      </div>
    </div>
  </article>
  {% endfor %}
{% endblock content %}
