{% extends 'crime/base.html' %}

  {% block content%}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ log.author.profile.image.url }}" alt="avatar">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-logs' object.author.username %}">{{object.author}}</a>
            <small class="text-muted">{{object.date_posted | date:"F d, Y"}}</small>
            {% if object.author == user %}
              <div class="">
                <a class="btn btn-secondary btn-sm mt-1 mb-1"href="{% url 'log-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1"href="{% url 'log-delete' object.id %}">Delete</a>
              </div>
            {% endif %}
          </div>
          <h2 class="article-title">{{object.case}}</h2>
          <p class="article-content">{{object.details}}</p>
          <h2 class="article-title">{{object.location}}</h2>
          <p class="article-content">{{object.type}}</p>
          <p class="article-content">{{object.num_reported}}</p>
        </div>
      </article>
  {% endblock content %}
