{% extends 'crime/base.html'%}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 py-3">
      <h4 class="py-3"><i class="fa fa-university" aria-hidden="true"></i> Mandera OCPD Office 046-52003</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
      </p>
      <a style="color: #4ca3dd; float:right; href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>

      <h4 class="py-3"><i class="fa fa-university" aria-hidden="true"></i> Police Post 1</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
      </p>
      <a style="color: #4ca3dd; float:right; href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>

      <h4 class="py-3"><i class="fa fa-university" aria-hidden="true"></i> Police Post 1</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
      </p>
      <a style="color: #4ca3dd; float:right; href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>

      <h4 class="py-3"><i class="fa fa-university" aria-hidden="true"></i> Police Post 1</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
      </p>
      <a style="color: #4ca3dd; float:right; href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>

      <h4 class="py-3"><i class="fa fa-university" aria-hidden="true"></i> Police Post 1</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation
      </p>
      <a style="color: #4ca3dd; float:right; href="#"><i class="fa fa-phone-square" aria-hidden="true"></i> Contact</a>
    </div>

    <div class="col-sm-6 py-3">
      <div class="img">
        <img style="float:right;" src="crime/static/crime_banner.jpeg" alt="banners">
        <!-- <script src="django_crime/images/crime_banner.jpeg" charset="utf-8"></script> -->
      </div>
      <!-- /home/oruko/Documents/Django/django_crime/images -->

    </div>
  </div>

</div>

{% endblock %}
